# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lcd1602_base/lcd1602_base.componentinfo.xml
lcd1602_base_example/lcd1602_base_example.componentinfo.xml
proteus/*.pdsbak
proteus/*.workspace
.vs/lm016l/v14/.atsuo
lcd1602_base/Debug/*
lcd1602_base_example/Debug/*
